<!DOCTYPE html>
{% load static %}
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EsoTest</title>

    <!-- cdn imports -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- self links -->
    <link rel="stylesheet" href="{% static 'style/editor.css' %}">
    <script src="{% static 'scripts/editor.js' %}"></script> 
    <script src="{% static 'scripts/anim.js' %}"></script> 

</head>

<body>
    <!-- navbar -->
    <nav id="navbar-main" class="navbar navbar-expand-lg navbar-light rounded-bottom">
        <a class="navbar-brand" href="{% url 'index' %}"> <strong>EsoTest</strong> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" id="navbarDropdown" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Language
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a id="dropdown-item" class="dropdown-item" href="{% url 'brainfuck' %}">BrainFuck</a>
                        <a id="dropdown-item" class="dropdown-item" href="{% url 'esoterrible' %}">Esoterrible</a>
                        <a id="dropdown-item" class="dropdown-item" href="{% url 'malbolge' %}">MalBolge</a>
                        <a id="dropdown-item" class="dropdown-item" href="{% url 'spl' %}">Shakespeare</a>
                        <div class="dropdown-divider"></div>
                        <a id="dropdown-item" class="dropdown-item" href="{% url 'example' %}">Examples</a>
                    </div>
                </li>
            </ul>
            <ul>
                <i class="bi bi-github" style="font-size: 2rem;"></i>
            </ul>
        </div>
    </nav>

    <!-- main -->
    <div class="container">
        <div id="container-inside" class="container m-4 p-3 rounded">
            {% block body_block %}
            {% endblock %}        
        </div>
        </div>
    </div>
</body>
</html>